* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    border-bottom: 4px solid #3a5a40;
}

.logo-home {
    width: 300px;
}

.user-logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-icon{
    width: 20px;
    align-self: flex-end;
    cursor: pointer;
}

.nav-username {
    font-size: 1em;
    text-transform: uppercase;
    margin-right: 15px;
    align-self: flex-start;
}


.home-container {
    background-color: #f8f9fa;
    padding: 1em;
}


.shuttle-wrapper{
    background: url("../images/shuttle.png") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em auto;
    height: 300px;
    width: 600px;
}

.shuttle-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    opacity: 1;
}

.post-container {
    flex-direction: column;
    background-color: white;
    padding: 1.5em;
    border: 2px solid #EE6417;
    border-radius: 10px;
    width: 40%;
    margin: 3em auto;
}

.lot-name {
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .7em;
}

.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.post-date{
    font-size: .7rem;
    align-self: center;
}
.bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.comment-icon {
    width: 30px;
    cursor: pointer;
}

.picture-warning{
    font-size: .5rem;
}

.post-comment-btn{
    cursor: pointer;
}
