* {
    box-sizing: border-box;
}

body {
    margin: 0
}

.login-container, .register-container {
    background: url("../images/zion.svg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form-container, .register-form-container {
    background-color: rgba(255, 255, 255, .85);  
    padding: 3em; 
    border-radius: 5PX;
}

.login-title, .register-title {
    font-size: 2em;
    margin-bottom: 1em;
    color:#EE6417;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    line-height: 2;
    margin: .7em 0;
}

.submit-btn {
    margin: .5em 0;
}