
.post-form {
    font-family: 'Montserrat', sans-serif;
    background-color: #3a5a40;
    color: white;
    border-radius: 7px;
    margin: 3em auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
}

.lot-details, .status-details {
    display: flex;
    justify-content: space-between;
    width: 80%;
 
}

.textarea {
    border: 2px solid black;
    width: 80%;
    height: 70px;
    padding: .3em .5em;
    outline: none;
}

.post-btn{
    letter-spacing: 2px;
    padding: .5em 1em;
    cursor: pointer;
    border-radius: 3px;
    margin: .2em 0;
    background-color: white;
    border: none;
    color: #3a5a40;
}

.post-btn:hover {
    background-color: black;
    color: white;
}